/* 
    Created on : 5 mars 2020, 10:44:43
    Author     : msoulard
*/

.civilite{
    background-color: wheat;
}
.formulaire{
    background-color: grey;
}
.savoirs{
    background-color: greenyellow;
}
.connexion{
    background-color: gold;
}