/* 
    Created on : 5 mars 2020, 10:44:55
    Author     : apacot
*/

.civilite
{
    background-color: #ffcc99; 
}
.savoir
{
    background-color: #66ff66;
}
.connexion
{
    background-color: #ffff66;
}